.navBar{
    width: rem(80);
    /* width: 20%; */
    height: 100vh;
    inset: 0;
    position: fixed;
    padding: var(--mantine-spacing-md);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background:light-dark(
        var(--mantine-color-gray-3),
        var(--mantine-color-dark-8)
    ) ;
    border-right: rem(1px) solid light-dark(
        var(--mantine-color-gray-3),
        var(--mantine-color-dark-4)
    );
    
}

.link{
    height: rem(50);
    width: rem(50 );
    transition: background-color 200ms ease-in-out;
    color: light-dark(
        var(--mantine-color-gray-7),
        var(--mantine-color-dark-0)
    );
    &:hover{
        background-color: light-dark(
            var(--mantine-color-gray-2),
            var(--mantine-color-dark-5)
        );
    }
} 

.icon{
    width: fit-content;
    height: fit-content;
}